<app-inner-page-title pageTitle="About Us"></app-inner-page-title>
<div class="container">
  <div class="row">
    <div class="col-12 col-lg-6 d-none d-lg-block p-0">
      <img src="/assets/people/old-woman-smiling-2.jpg"
           title="Old Woman with Glasses"
           class="cover-img">
    </div>
    <div class="col-12 col-lg-6 p-4">
      <h2 class="fs-1">About Us</h2>
      <h3 class="fs-3 mb-1">Our Mission</h3>
      <p class="text-justify">
        Our Mission is to improve the quality of life for visually challenged people. We strive to empower individuals
        to confidently engage with their surroundings, fostering a sense of inclusivity and promoting greater quality of
        life.
      </p>
      <h3 class="fs-3 mb-1">Our Vision</h3>
      <p>
        Our Vision is to harness existing and cutting edge technologies into innovative products that are effective,
        stylish and easy to use. We aim to redefine the future of vision health, creating a world where everyone
        prioritizes eye health and enjoys a better quality of life.
      </p>
    </div>
  </div>
</div>