<div class="container-fluid inner-page-title border-bottom">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="d-flex flex-column justify-content-center align-items-center p-4 h-100">
        <h2>
          {{ pageTitle }}
        </h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
            <li class="breadcrumb-item active"
                aria-current="page">{{ pageTitle }}</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="col-12 col-md-6 p-0 primary-bg-100 d-none d-lg-block">
      <img loading="lazy"
           src="/assets/images/clear-vision-blue-wide.png"
           title="Clear Vision Device">
    </div>
  </div>
</div>
