p {
  text-align: justify;
}
p + p {
  margin-top: 1rem;
}
// .benefits-row {
//   > div {
//     text-align: justify;
//     padding: 0.5rem;
//     > div {
//       border-radius: 0.5rem;
//       border: 1px solid rgb(0 0 0 / 0.2);
//       height: 100%;
//       padding: 0.5rem;
//       transition: all 500ms ease-in-out;
//       &:hover {
//         background-color: var(--clr-white);
//         box-shadow: 2px 2px 15px 5px rgba(0, 0, 0, 0.5);
//       }
//       p,
//       h3 {
//         margin: 1rem;
//       }
//       h3 {
//         font-size: 1.5rem;
//         height: 4rem;
//         text-align: center;
//       }
//       p {
//         font-size: 1rem;
//       }
//     }
//     .centered-icon {
//       text-align: center;
//       i {
//         font-size: 4rem;
//       }
//     }
//   }
// }
.problem-solution {
  > .row {
    margin-bottom: 0.5rem;
  }
  > .row > div {
    padding: 0;
    margin: 0;
    > img {
      max-height: 25rem;
    }
    > div {
      > h2 {
        flex-basis: 60px;
        padding-bottom: 10px;
      }
      > ul {
        flex-basis: calc(100% - 60px);
      }
    }
  }
}
.styled-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  li {
    position: relative;
    display: block;
    font-size: 1rem;
    margin-bottom: 0.625rem;
    padding-left: 1.5rem;
    &:before {
      position: absolute;
      left: 0px;
      top: 0px;
      content: "\e90f";
      color: var(--clr-primary-500);
      font-family: "icomoon";
      font-size: 1rem;
    }
  }
}
.banner-bg{
background-image: url('../../../assets/new-images/banner.jpg');
height: 80vh;
background-size: cover;
}
.logo-title{
  font-size: 3.5rem;
}
@media (max-width: 767.98px) {
  .home-title-image {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .home-title-data {
    order: 2;
  }
  .home-title-image {
    order: 1;
  }
}
