<div class="primary-bg-700 row">
  <div class="col-12 col-md-6 order-sm-2 order-md-1">

    <div class="d-flex flex-column justify-content-center p-4 h-100">
      <h2 class="text-center">
        <label class="clr-secondary">Regener</label>
        <label class="clr-accent">-</label>
        <label class="clr-primary">Eyes</label>
      </h2>
      <h5 class="mb-4 text-center">
        <label class="clr-accent">[</label> VISION ENHANCED <label class="clr-accent">=</label> LIFE RENENEWED
        <label class="clr-accent">]</label>
      </h5>
      <h2 class="mb-4">
        Welcome to Regener-Eyes
      </h2>
      <p class="mt-4">
        We at regener-eyes strive to harness existing and cutting-edge technologies to develop solutions and improve the
        quality of life of people with vision challenges. Our efforts are to enable our customers to live more
        independent and productive lives.
      </p>
    </div>
  </div>
  <div class="d-none d-sm-block col-12 col-md-6 order-sm-1 order-md-2 p-0">
    <img src="/assets/shutterstock/curious-portrait-senior-man-investigator-working-298831694.jpg"
         title="A Senior Expert Investigating a Solution"
         class="cover-img">
  </div>
</div>
<!-- <div class="container my-4 shadow-box p-4">
  <h2 class="text-center mb-2">Benefits with ClearVision 1.0</h2>
  <p>
    We leverage advanced technology to empower individuals to take control of their vision health, enabling them to
    prioritize what truly matters in life.
    Our user-friendly devices and services seamlessly integrate into everyday life, supporting improved results in
    managing vision health.
  </p>
  <section class="mx-4">
    <div class="row benefits-row">
      <div class="col-12 col-lg-6 col-xl-3">
        <div>
          <p class="centered-icon">
            <i class="icon-binocular"></i>
          </p>
          <h3>
            Zoom In Zoom Out
          </h3>
          <p class="text-justify">
            Innovative zoom in and zoom out technology allows users to adjust the level of magnification for a more
            personalized visual experience.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div>
          <p class="centered-icon">
            <i class="icon-glasses"></i>
          </p>
          <h3>
            Low Light Image Enhancement
          </h3>
          <p class="text-justify">
            Incorporates low light image enhancement technology, allowing users to see clearly even in dim or
            challenging lighting conditions.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div>
          <p class="centered-icon">
            <i class="icon-eye-glow"></i>
          </p>
          <h3>
            Contrast Enhancement
          </h3>
          <p class="text-justify">
            Contrast enhancement technology heightens the distinction between colors and shapes, resulting in sharper,
            more vibrant visuals.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div>
          <p class="centered-icon">
            <i class="icon-face-device"></i>
          </p>
          <h3>
            Longer Battery Life
          </h3>
          <p class="text-justify">
            Offers the benefit of extended battery life, enabling continuous use for long periods without frequent
            recharging and ensuring reliable performance.
          </p>
        </div>
      </div>
    </div>
  </section>
</div> -->
<hr>
<div class="container problem-solution">
  <div class="row border-top">
    <div class="col-12 col-lg-6 d-none d-md-block">
      <img src="/assets/shutterstock/closeup-portrait-senior-elderly-mature-man-163580435.jpg"
           title="Closeup Of A Senior Elderly Man Reading"
           class="cover-img">
    </div>
    <div class="col-12 col-lg-6">
      <div class="d-flex flex-column p-4">
        <h2>The Challenge</h2>
        <ul class="styled-list">
          <li>
            There are millions of people in the US and rest of the world who have trouble seeing despite using glasses,
            contact lenses, various devices and other interventions. A majority of vision deficits are caused by AMD,
            glaucoma, cataracts and diabetic retinopathy etc. These numbers are expected to increase significantly as
            the population ages.
          </li>
          <li>
            There are millions of people in the US and rest of the world who have trouble seeing despite using glasses,
            contact lenses, various devices and other interventions. A majority of vision deficits are caused by AMD,
            glaucoma, cataracts and diabetic retinopathy etc. These numbers are expected to increase significantly as
            the population ages.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row border-top">
    <div class="col-12 col-lg-6 order-2 order-md-1">
      <div class="d-flex flex-column p-4">
        <h2>The Solution</h2>
        <ul class="styled-list">
          <li>
            Our first product is an innovative Near Eye Device (NED) that addresses the major vision deficits
            identified by leading ophthalmologists in a sleek, aesthetic and human-centered design. It is very easy to
            wear, use and has all the major functions required to enable the affected population to live more
            independently. Our Innovative product utilizes high end capabilities incorporating a unique integration of
            existing and proven technologies.
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-6 d-none d-md-block order-md-1 order-2">
      <img src="/assets/shutterstock/asian-doctor-use-flashlight-screening-eyes-1745524493.jpg"
           title="Doctor Checking Eyes Using a Flashlight"
           class="cover-img">
    </div>
  </div>
</div>
