<div class="primary-bg row">
  <div class="col-12 col-md-6 order-sm-2 order-md-1">
    <div class="d-flex flex-column justify-content-center p-4 h-100">
      <h2 class="text-center">
        <label class="clr-secondary">Regener</label>
        <label class="clr-accent">-</label>
        <label class="clr-primary">Eyes</label>
      </h2>
      <h5 class="mb-4 text-center">
        <label class="clr-accent">[</label> VISION ENHANCED <label class="clr-accent">=</label> LIFE RENENEWED
        <label class="clr-accent">]</label>
      </h5>
      <p>
        Keeping in mind the growing number of people challenged by eye health challenges like age-related muscular
        degeneration(AMD), cataracts and other vision related issues, regener-eyes team created a
        comprehensive solution for the problem with innovative solution.
      </p>
      <h4 class="my-4">Clear Vision 1.0</h4>
      <p>
        Clear Vision 1.0 is an electronic eye wear that is aesthetically pleasing, portable, cost effective and easy to
        use solution for people. Armed with patented technology, Clear Vision 1.0 improves visual clarity of people and
        empowering individuals to lead individual lives.
      </p>
      <p>
        With Clear Vision 1.0, we strive to bring a smile to the lives of people with vision deficits.
      </p>
    </div>
  </div>
  <div class="d-none d-sm-block col-12 col-md-6 order-sm-1 order-md-2">
    <img src="/assets/people/old-woman-smiling.jpg"
         title="Smiling Woman"
         class="cover-img">
  </div>
</div>
<div class="container my-4 shadow-box p-4">
  <h2 class="text-center mb-2">Benefits with ClearVision 1.0</h2>
  <p>
    We leverage advanced technology to empower individuals to take control of their vision health, enabling them to
    prioritize what truly matters in life.
    Our user-friendly devices and services seamlessly integrate into everyday life, supporting improved results in
    managing vision health.
  </p>
  <section class="mx-4">
    <div class="row benefits-row">
      <div class="col-12 col-lg-6 col-xl-3">
        <div>
          <p class="centered-icon">
            <i class="icon-binocular"></i>
          </p>
          <h3>
            Zoom In Zoom Out
          </h3>
          <p class="text-justify">
            Innovative zoom in and zoom out technology allows users to adjust the level of magnification for a more
            personalized visual experience.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div>
          <p class="centered-icon">
            <i class="icon-glasses"></i>
          </p>
          <h3>
            Low Light Image Enhancement
          </h3>
          <p class="text-justify">
            Incorporates low light image enhancement technology, allowing users to see clearly even in dim or
            challenging lighting conditions.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div>
          <p class="centered-icon">
            <i class="icon-eye-glow"></i>
          </p>
          <h3>
            Contrast Enhancement
          </h3>
          <p class="text-justify">
            Contrast enhancement technology heightens the distinction between colors and shapes, resulting in sharper,
            more vibrant visuals.
          </p>
        </div>
      </div>
      <div class="col-12 col-lg-6 col-xl-3">
        <div>
          <p class="centered-icon">
            <i class="icon-face-device"></i>
          </p>
          <h3>
            Longer Battery Life
          </h3>
          <p class="text-justify">
            Offers the benefit of extended battery life, enabling continuous use for long periods without frequent
            recharging and ensuring reliable performance.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
<hr>
<div class="container problem-solution">
  <div class="row border-top">
    <div class="col-12 col-lg-6 d-none d-md-block">
      <img src="/assets/people/young-man-with-glasses.jpg"
           title="Old Man with Glasses"
           class="cover-img">
    </div>
    <div class="col-12 col-lg-6">
      <div class="d-flex flex-column p-4">
        <h2>The Problem</h2>
        <ul class="styled-list">
          <li>
            A majority of vision deficits are caused by age-related macular degeneration (AMD), cataracts, glaucoma,
            myopia, and diabetes.
          </li>
          <li>
            According to estimates from the 2018 National Health Interview Survey, 23.0 million American adults between
            the ages of 18 and 64 and 9.2 million American adults 65 years and older report experiencing significant
            vision loss.
          </li>
          <li>
            These numbers are all expected to triple in prevalence over the next decade and will have a profound
            impact on the quality of life for people with vision deficits.
          </li>
          <li>
            13.4 million people ≥ age 60 have difficulty reading even when wearing glasses or contact lenses.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row border-top">
    <div class="col-12 col-lg-6 order-sm-2 order-md-1">
      <div class="d-flex flex-column p-4">
        <h2>The Solution</h2>
        <ul class="styled-list">
          <li>
            ClearVision1.0 electronic eyewear addresses the major vision deficits identified by leading ophthalmologists
            in a sleek, esthetic and human-centered design.
          </li>
          <li>
            ClearVision 1.0 capitalizes on recent imaging and display technology advances to bring these life-changing
            functionalities together.
          </li>
          <li>
            Our mission is to restore independence to millions of vision-impaired people in the U.S. and across the
            globe.
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-lg-6 d-none d-md-block order-sm-1 order-md-2">
      <img src="/assets/images/clear-vision-person.png"
           title="Old Man with Glasses"
           class="cover-img">
    </div>
  </div>
</div>