@if (images) {
<ngb-carousel>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]"
           alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]"
           alt="Random second slide" />
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]"
           alt="Random third slide" />
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
}
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, excepturi ipsam officiis at quidem, ad
  commodi, odio delectus tempora doloribus voluptatem aut alias tenetur sunt ut obcaecati. Delectus, magni esse.
  Magni aut voluptate nisi dignissimos harum, optio doloribus ratione consequatur cupiditate pariatur repellat
  perspiciatis reprehenderit deserunt quasi minus eos quibusdam explicabo labore repellendus. Ipsam doloribus alias
  obcaecati suscipit sed in.
  Provident architecto perspiciatis laborum fuga consequatur aliquid! Eligendi perspiciatis, voluptatibus similique
  corporis officiis illo sequi eum, possimus nostrum perferendis natus cupiditate illum hic libero sed. Aspernatur
  necessitatibus repellendus eligendi ipsa.
  Voluptatum labore alias illo error ullam omnis expedita ut harum, eaque esse, quibusdam nostrum illum similique vitae
  sit? Velit, maiores. Consequuntur odio veniam quaerat, impedit consectetur rem doloremque laborum sunt?
  Unde asperiores tenetur impedit doloremque earum, eum fugit maxime iste alias nobis natus illum vel quidem dolorum et
  provident placeat exercitationem eligendi, hic voluptates officia ipsam quibusdam quod. Dolor, deleniti.
  At alias repudiandae culpa omnis, expedita, eaque incidunt quae voluptatibus, numquam amet earum sequi temporibus?
  Dolore eum dolorem sint. Doloribus provident harum repellat hic atque nobis, ratione id ipsa nostrum?
  Ducimus nihil quibusdam fugit illum dolores exercitationem aliquam asperiores blanditiis numquam quisquam. Dolore
  nesciunt ipsam cupiditate fugit adipisci rem veritatis minima quidem inventore earum nobis, atque officia temporibus,
  architecto laudantium.
  Ipsam ea accusantium, voluptates autem id inventore numquam expedita. Autem consectetur reprehenderit commodi culpa
  nesciunt doloremque architecto error vel sed, iste, assumenda veniam, eum quis illum tempora quo optio porro.
  Ipsam tenetur a assumenda dignissimos reprehenderit alias ipsa ex amet velit deleniti deserunt, voluptatibus aliquam
  hic impedit excepturi qui dolore necessitatibus sequi! Ea consequuntur animi tenetur voluptates reiciendis optio
  ratione?
  Accusantium, consequatur? Sequi doloribus velit corrupti voluptatem, vitae eum vel animi. Ullam ipsam fugiat commodi
  iure illo dicta tenetur praesentium earum quibusdam? Corporis, aspernatur. Aliquid tempore molestias provident beatae
  nisi!
  Porro, qui accusamus. Quaerat labore necessitatibus dolorem, ut et fugit, assumenda id praesentium dicta quam magnam
  molestiae. Error corporis optio quisquam tempore consequatur, adipisci repellendus, quidem animi, repellat vero a!
  Fuga, amet autem doloribus ad nihil suscipit inventore eius sequi? Cumque asperiores amet alias magnam ipsam, sequi
  possimus unde nihil corporis consectetur natus aspernatur nam veniam quisquam iusto fugiat corrupti.
  Quisquam eum ullam sunt adipisci nam doloremque cupiditate laborum iure iusto temporibus! Laboriosam a facere
  provident dicta itaque similique, rerum, accusamus eius eligendi dolore magni tempora totam error nesciunt. Tenetur!
  Minus aut at architecto in blanditiis? Dolorem officia fuga fugiat deserunt repellendus autem, eum quae illo?
  Aspernatur, perferendis dicta quaerat atque, corrupti veritatis quos excepturi molestiae, asperiores voluptatum
  explicabo? Eligendi.
  Facere, officia quis. Aliquam, facilis ipsum quasi enim saepe, tempore hic perferendis quis ea, eos modi nemo ut
  commodi possimus vero voluptates nisi vitae molestiae natus ab fuga. Doloremque, obcaecati?
  Iusto quo porro deleniti nostrum voluptates qui odio, assumenda, in sed ad neque, eum accusamus commodi et! Dicta quos
  quam nisi quae optio aspernatur deserunt ex rem, a asperiores debitis?
  Facilis dignissimos eius reiciendis dolore tempora. Quia consectetur mollitia minima quaerat exercitationem
  repudiandae nihil eius velit ex ipsa. Laudantium enim aliquid maiores cupiditate magnam expedita consequuntur,
  quisquam tenetur officia? Delectus?
  Eos tempore harum ratione in, assumenda deleniti magnam non laboriosam nisi ut. Tempora est natus voluptate. Corporis
  repudiandae quos nemo saepe, animi soluta deleniti temporibus. Vel reiciendis at minus ad.
  Labore iusto obcaecati distinctio quaerat, aliquid illo vitae ullam tempore quae tenetur iure sit rem asperiores
  numquam minus tempora! Minima fugiat non laudantium possimus aperiam odio sapiente numquam consequatur a?
  Quae possimus tempore neque vero laboriosam non, enim praesentium nemo optio incidunt aut totam rem dolores asperiores
  reiciendis exercitationem mollitia. Et rem nemo labore facere. Aperiam soluta placeat deserunt dolorum!
  Maiores error aperiam, vel sit officiis numquam molestiae deleniti odio rem quas laudantium libero corrupti fuga
  inventore fugit quos accusamus corporis ipsam nam illo earum. Voluptatem consectetur suscipit magnam quis.
  Fugiat illo molestias suscipit. Laborum, hic nostrum? Earum deleniti minima mollitia doloribus unde molestias. Illo
  quasi, magni obcaecati hic velit officia repellendus, veritatis enim quam, voluptatibus voluptate omnis laudantium
  aut!
  Assumenda voluptas error commodi? Consequatur quisquam ad odit tenetur incidunt laboriosam cupiditate libero eos sit
  odio facere quia alias quis dolores dolore enim blanditiis, inventore fuga, corrupti amet necessitatibus aspernatur?
  Nemo exercitationem magnam beatae tempora soluta, reprehenderit deserunt numquam hic libero, odit nesciunt dicta
  blanditiis quas animi, optio fugiat quia atque! Odit possimus sit temporibus quis neque tenetur saepe quo?
  Dolore ex ea cupiditate fugit repellendus quae dolor voluptates vitae. Alias, qui fuga magnam sequi earum suscipit
  voluptatibus aliquid! Fuga ea tenetur voluptates nemo illo ullam maiores nihil doloribus magni.
  Repudiandae placeat natus asperiores fugit temporibus mollitia nam eos eligendi sapiente labore nulla dolor tempore
  explicabo totam magni praesentium cupiditate enim tempora similique veniam, sequi molestias. Aliquam illo voluptas
  perferendis.
  Ullam, atque. Distinctio voluptatem est voluptatum dicta iste dolor quia repellat corrupti accusamus repudiandae
  facere neque nemo repellendus inventore, nisi ex quod ullam illo architecto. Corrupti quaerat illum quod eos.
  Dolorem, quasi, quia perspiciatis molestiae laudantium odit quidem totam possimus placeat recusandae delectus
  inventore velit laborum eligendi? Dicta eius reiciendis iure explicabo? Itaque accusantium saepe qui deserunt hic!
  Laudantium, sed.
  Voluptas natus eveniet repudiandae illo quae officia error libero ullam accusamus totam et culpa unde quo quis est
  consequuntur architecto corporis sunt, debitis inventore consequatur eius laboriosam! Porro, necessitatibus corrupti?
  Rem consectetur aliquid necessitatibus illo quo libero cumque fugit ab vel praesentium. A dicta ex tempore omnis
  dignissimos, unde deleniti libero aliquam vero quos illum maiores inventore nihil! Doloribus, voluptate.
  Quae dolor dolores, ipsam dolorem, ullam odit sit quia saepe repellat deleniti deserunt perferendis adipisci numquam
  quas necessitatibus, fuga nihil assumenda officia nemo. Ipsum hic veritatis sapiente repellat corporis inventore?
  Praesentium vel et necessitatibus, quae officiis exercitationem dicta distinctio ipsam, expedita, obcaecati vero quasi
  sint sit ad. Ipsa delectus adipisci deleniti voluptates voluptatum ullam iusto ratione omnis eum, illum voluptate!
  Nemo mollitia amet aut nam iste voluptas obcaecati eum quaerat fugit ratione voluptate rem cupiditate vero ex omnis
  excepturi, dolore qui id eos. Vero dolorem quae dicta quidem iure excepturi.
  Temporibus repellendus assumenda in, ex sed hic aliquam, accusantium velit dolorum distinctio eaque. Placeat,
  necessitatibus? Dolorem similique veritatis ullam corrupti. Incidunt dolorum rem, non minus quasi distinctio iure quia
  fugiat!
  Hic iusto minus placeat, at ut doloribus nam asperiores amet et neque dignissimos libero repudiandae harum distinctio,
  laborum blanditiis deserunt dolorem sequi qui autem voluptatum! Natus hic sed voluptatum vero?
  Dolores fugit temporibus doloribus non eos illo sequi facilis error hic a in architecto dicta, possimus commodi quia
  porro accusantium fuga enim. Facere dolorem exercitationem labore deleniti nobis sed soluta.
  Nulla nihil rem, obcaecati soluta iste, sequi, commodi ullam nisi laboriosam voluptatum consequuntur totam dolorum
  veniam? Minima similique, pariatur excepturi quis assumenda distinctio voluptatum neque ad perspiciatis quaerat a
  autem!
  Temporibus facilis amet, rem nemo iusto eveniet, sit sequi aliquid necessitatibus autem molestias quos libero enim
  magni corporis. Atque assumenda harum a eos voluptatibus molestias provident aspernatur quod nam amet.
  Eveniet, incidunt hic! Suscipit reiciendis, velit incidunt quos aspernatur repellat totam est deleniti? Alias
  reprehenderit necessitatibus odio non cumque, temporibus nobis facere sunt corporis rem animi voluptatem maiores culpa
  voluptas.
  Cupiditate harum perspiciatis, est ea quia aut cumque? Incidunt laborum quidem asperiores cumque modi illo tempora
  optio, nobis, possimus consequatur rem odit quasi deserunt saepe libero error quo? Optio, sed.
  Exercitationem reprehenderit aspernatur quod? Voluptates fuga ipsum natus ea, eius excepturi doloremque. Deserunt
  nihil quas mollitia, laborum nulla labore asperiores sit illo laboriosam explicabo earum dicta? Officia corrupti
  sapiente mollitia!
  Illo, aspernatur suscipit. Vel corrupti laborum id minima libero consequuntur esse consectetur quasi, obcaecati ad
  iste sint porro molestiae debitis quisquam accusamus itaque maiores sequi nam perspiciatis. Delectus, laboriosam!
  Delectus.
  Magni, sed dolores autem ducimus in libero laudantium. Id a odit itaque? Dignissimos voluptatem maiores doloremque
  molestias numquam aperiam dolorem quis aliquam ipsam. Magnam consequuntur vel in accusamus itaque nobis?
  Similique, quae. Cumque tenetur laudantium perferendis est, inventore pariatur voluptates at, alias aspernatur amet
  deleniti repellendus. Mollitia officia perspiciatis ipsa facilis odio. Quos in id ullam. Quia odit fuga est.
  Atque sequi cum sapiente magnam perspiciatis rem non voluptatem deserunt, aut aliquid iste quam mollitia pariatur,
  eligendi sint quod doloribus ipsum tenetur! Quibusdam dolor quos repudiandae iure eius exercitationem odio.
  Non ullam quaerat dolore quas voluptas saepe voluptatem porro excepturi necessitatibus sapiente. Enim vitae, nobis,
  consequuntur dolor aspernatur labore dolore at adipisci placeat repellendus, beatae sint corporis odio fuga pariatur?
  Facilis, atque illum aspernatur exercitationem provident perferendis quibusdam dicta. Quos quam tempora excepturi non
  dolore ratione rem cum nobis, quia natus perspiciatis officiis quidem magni? Facere quia at natus necessitatibus.
  Quod esse, corrupti accusamus tenetur mollitia tempora, similique commodi inventore voluptas labore nihil, a
  aspernatur nobis sequi quisquam saepe obcaecati ullam? Neque ad saepe possimus consequatur tenetur dolores labore.
  Reprehenderit!
  Voluptates voluptate, et, natus illo labore pariatur ipsam facilis voluptas suscipit, perspiciatis excepturi! Suscipit
  praesentium nisi nihil odit facere reiciendis hic dolorem beatae, nesciunt necessitatibus officia est corrupti
  perferendis aliquid.
  Inventore, sit nesciunt voluptas voluptatibus eveniet delectus, vel aliquid maiores odio laborum modi officiis. Sit
  nisi tempore quasi modi optio earum cumque fugiat aperiam porro odio? Accusamus quis architecto dignissimos.
</p>
