<app-inner-page-title pageTitle="Contact Us"></app-inner-page-title>
<div class="container border p-4 my-2">
  <h2 class="fs1 text-center my-4">Contact Us</h2>
  <form #f="ngForm"
        (ngSubmit)="onSubmit(f)">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="username">Name<sup class="required-indicator">*</sup></label>
          <input type="text"
                 class="form-control"
                 id="username"
                 name="username"
                 ngModel
                 required
                 #username="ngModel">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="useremail">Email<sup class="required-indicator">*</sup></label>
          <input type="email"
                 class="form-control"
                 id="useremail"
                 name="useremail"
                 ngModel
                 required
                 #useremail="ngModel">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="userphone">Phone<sup class="required-indicator">*</sup></label>
          <input type="text"
                 class="form-control"
                 id="userphone"
                 name="userphone"
                 ngModel
                 required
                 #userphone="ngModel">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="mb-3">
          <label for="messagetitle">Title<sup class="required-indicator">*</sup></label>
          <input type="text"
                 class="form-control"
                 id="messagetitle"
                 name="messagetitle"
                 ngModel
                 required
                 #messagetitle="ngModel">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label for="message">Message<sup class="required-indicator">*</sup></label>
          <textarea class="form-control"
                    id="message"
                    name="message"
                    rows="5"
                    ngModel
                    required
                    #message="ngModel"></textarea>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button type="submit"
              class="btn btn-lg primary-button mb-2"
              [disabled]="!f.valid">Send Message</button>
    </div>
  </form>
</div>