<app-inner-page-title pageTitle="About Us"></app-inner-page-title>
<div class="container">
  <div class="row my-4">
    <div class="col-12 col-lg-6 d-none d-lg-block p-0">
      <img class="cover-img"
           src="/assets/images/about-us.jpg"
           title="Regener Eyes Team">
    </div>
    <div class="col-12 col-lg-6 p-4">
      <h2 class="fs-1">About Us</h2>
      <p class="text-justify">
        Founded by a diverse team of experts from ophthalmology, biotechnology, engineering, pharmaceuticals, and
        business sectors, <label class="logo-font">regener-eyes</label> seeks to enhance the lives of people with vision
        deficits.
      </p>


      <h3 class="fs-3 mb-1">Our Mission</h3>
      <p class="text-justify">
        Our mission is to improve the quality of life of millions of vision-impaired people in the U.S. and across the
        globe.
      </p>

      <h3 class="fs-3 mb-1">Our Vision</h3>
      <p>
        To develop and market smart, innovative, and intuitive solutions that will restore independence to people with
        vision challenges.
      </p>

    </div>
  </div>
</div>
