<footer>
  <div class="container">
    <div class="d-md-flex justify-content-between d-block">
      <section>
        <h2 class="display-4 logo-font">
          <label class="clr-secondary">regener</label>
          <label class="clr-accent">-</label>
          <label class="clr-primary">eyes</label>
        </h2>
        <small class="fs-6">
          We Develop & Market Electronic Eyewear for People With Vision Deficits.
        </small>
      </section>
      <hr class="d-block d-sm-none">
      <section class="footer-link">
        <ul role="list">
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/about-us">About Us</a></li>
          <li><a routerLink="/contact-us">Contact Us</a></li>
        </ul>
      </section>
    </div>
  </div>
  <p class="text-center">
    <small class="footer-copy">
      &copy; Copyright Regener Eyes - {{currentYear}} |
      Powered by
      <a href="https://qelabs.in"
         target="_blank"
         rel="external">QE Labs</a>.
    </small>
  </p>
</footer>
